<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>PERFIL</title>
<style>

fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    width:inherit; /* Or auto */
    padding:0 ; /* To give a bit of padding on the left and right */
    border-bottom:none;
}

</style>
<script type="text/javascript">

$(document).ready( function () {
	 var table = $('#perfilTable').DataTable({
			"sAjaxSource": "/siscad/listaperfil",
			"sAjaxDataProp": "",
			"aoColumns": [
			    { "mData": "id"},
		      	{ "mData": "nome" },
			    { "mData": "datalt" },
			    { "mData": "usualt" }
			],
		     dom: 'Bfrtip',
		        buttons: [
		            'copy', 'csv', 'excel', 'pdf', 'print'
		        ]
	 })
});
//$.fn.dataTable.ext.errMode = 'throw';

</script>
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">
		<div class="container">
		<fieldset class="scheduler-border">
			<legend class="scheduler-border">Cadastrar Perfil</legend>
			<form class="form-horizontal" method="POST"	th:action="@{/perfil/perfilcad/salvar}" th:object="${perfil}">
				<div class="form-group">
		             <div class="col-md-3"></div>
		             <div class="col-md-6">
		             <div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}">
     			</div>
				<div class="form-group">
					<label for="nome">Nome</label> 
					 <input type="text" th:field="*{nome}" class="form-control" id="nome"
                                placeholder="Nome Perfil" required autofocus>				
				</div>
			  <div class="form-row">
			  	<div class="col">
			  		<button type="submit" class="btn btn-success">Salvar</button>	
			  	</div>
			  </div>
			</form>
			</fieldset>
			<br>
			<fieldset class="scheduler-border">
			<legend class="scheduler-border">Lista de Perfis</legend>
			<div class="form-row">
				
				<table id="perfilTable" class="table table-striped table-bordered custom" style="width:100%">
      
				       <!-- Header Table -->
				       <thead>
				            <tr>
				                <th>Id</th>
								<th>Perfil</th>
								<th>Data última alteração</th>
								<th>Usuário</th>
				            </tr>
				        </thead>
				        <!-- Footer Table -->
				        <tfoot>
				            <tr>
				                <th>Id</th>
								<th>Perfil</th>
								<th>Data última alteração</th>
								<th>Usuário</th>
				            </tr>
				        </tfoot>
				</table>
				
			</div>
			</fieldset>
		</div>
	</section>
</body>
</html>